* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora',
  serif;
  line-height: 1.7;
  color: white;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 30px;
  color: #fff;
  position: absolute;
}

.header__ttl {
  font-size: 24px;
  width: 80px;
}

.header__nav {
  margin: 0 auto 0 0;
}

.header__nav__list {
  display: flex;
  float: left;
}

.header__nav__item {
  margin-left: 30px;
}

.header__nav__item:first-child {
  margin-left: 80px;
}

.firstview {
  background-image: url(../img/firstview.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.firstview__text-area {
  text-align: center;
  width: 500px;
  position: relative;
  top: 50%;
}

.firstview__ttl {
  font-size: 60px;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  .firstview__ttl {
    padding: 60px 0 0 10px;
  }
}

.firstview__text {
  font-size: 22px;
}

.top__wrap {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.item1 {
  background: url(../img/topics-img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item2 {
  background-image: url(../img/topics-img2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.item3 {
  background-image: url(../img/topics-img3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.top__wrap__item {
  width : calc(100% / 3);
}


@media screen and (max-width: 480px) {
  .top__wrap__item {
    width: 100%;
  }
}

.item__text-area {
  margin: 120px 30px 30px 30px;
  align-items: flex-end;
}

.item__ttl {
  font-size: 26px;
}

.item__text {
  font-size: 15px;
}

.styles__wrap {
  width: 100%;
  height: auto;
  background: linear-gradient(rgb(0, 0, 0) , rgb(255, 255, 255))
}

.styles__wrap__items {
  column-count: 3;
  margin:  40px 80px 60px 80px;
}

@media screen and (max-width: 768px) {
  .styles__wrap__items {
    column-count: 2;
    margin: 30px 30px 50px 30px;
  }
}

@media screen and (max-width: 480px) {
  .styles__wrap__items {
    column-count: 2;
    margin: 20px 10px 30px 10px;
  }
}

.styles__wrap__item {
  break-inside: avoid;
  text-align: center;
}

.styles__wrap__item img {
  width: 100%;
  padding: 5px;
}

.styles__wrap__ttl {
  font-size: 40px;
  padding: 40px 0 0 80px;
}

@media screen and (max-width: 768px) {
  .styles__wrap__ttl {
    padding: 60px 0 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .styles__wrap__ttl {
    padding: 60px 0 0 10px;
  }
}

.about__wrap {
  background-color: rgb(0, 0, 0);
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about__wrap__img {
  width: 40%;
  display: flex;
  align-items: center;
}

.about__wrap__img img {
  width: 100%;
  justify-content: center;
}

.about__wrap__text-area {
  width: 50%;
  flex:0 1 auto;
  margin: auto auto auto 70px;
}

@media screen and (max-width: 480px) {
  .about__wrap {
  }

  .about__wrap__img {
    width: 100%;
  }

  .about__wrap__text-area {
    width: 100;
    height: 700px;
    padding: 0;
  }
}

.text-area__ttl--eng {
  font-size: 15px;
  margin-top: 10px;
}

.text-area__ttl {
  font-size: 30px;
}

.text-area__text1 {
  font-size: 15px;
  margin-top: 30px;
}

.text-area__text2 {
  font-size: 15px;
  margin-top: 15px;
}

.text-area__btn a {
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  position: relative;
  top: 50px;
}

.footer {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 100px;
  display:flex;
}

.footer__text {
  padding: 2;
  display: block;
  flex:0 1 auto;
  margin:auto;
}